.App {
  text-align: center;
}

main {
  background-color: #e9e7ee;
  position: relative;
}

.splash {
  background-color: #2a2a2a;
  color: white;
  height: 20vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  h1 {
    font-size: 1.5rem;
    width: 54vw;
    margin: 0;
    text-align: end;
  }
  &__pic {
    height: 80%;
    margin-left: 6rem;

    img {
      height: 100%;
      width: auto;
    }
  }
}

.clock-wrap {
  display: flex;
  width: 80%;
  margin: 14vh auto auto auto;
  background-size: contain;
  justify-content: space-between;
}

.number {
  display: grid;
  width: 50%;
  grid-template-columns: repeat(4, 25%);
  row-gap: 1vw;
}

.minutes,
.hours,
.seconds {
  display: flex;
  width: 45%;
}

.separation {
  display: grid;
  grid-template-columns: 1 auto;
  row-gap: 1vw;
}

.decoration {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 20vh;
  left: 0px;
  mix-blend-mode: multiply;

  .first {
    height: 15vh;
    transform: translate(-7vh, 48vh);
  }

  .second {
    height: 10vh;
    transform: translate(-28vh, 2vh);
  }

  .third {
    height: 15vh;
    transform: translate(9vh, 60vh);
  }

  &__pic {
    img {
      height: 100%;
      width: auto;
    }
  }
}

.clock-dark {
  display: flex;
  background-color: #2a2a2a;
  height: 90vh;
  align-items: center;
}
