.App {
  text-align: center;
}

main {
  display: flex;
  background-color: #e9e7ee;
  height: 100vh;
}

.clock-wrap {
  display: flex;
  width: 80%;
  height: fit-content;
  margin: auto;
}

.number {
  display: grid;
  width: 50%;
  grid-template-columns: repeat(4, 25%);
  row-gap: 1vw;
}

.minutes,
.hours {
  display: flex;
  width: 50%;
}
